@import '@/presentation/styles/colors.scss';
@import '@/presentation/styles/fontSizes';

.breadcrumbs {
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.step {
    font-size: $fontSmall;
    color: $greyLight;
}

.separator {
    margin: 0 5px;
}

.lastStep {
    font-weight: 700;
}