@import '@/presentation/styles/colors.scss';

.itemsListWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.itemsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80vw;
    background-color: white;
    padding: 0 16px;

    >li+li {
        border-top: 1px solid $light;
    }
}