@import '@/presentation/styles/colors.scss';
@import '@/presentation/styles/fontSizes';


.item {
    display: grid;
    grid-template-columns: min-content 1fr 150px;
    grid-template-areas:
        'picture info location';
    cursor: pointer;
    padding: 16px;
}

.itemPicture {
    grid-area: 'picture';
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin-right: 16px;
}

.itemInfo {
    grid-area: 'info';
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.priceWrapper {
    display: flex;
    align-items: center;
}

.price {
    font-size: $fontMediumLarge;
    margin-right: 10px;
}

.title {
    margin-top: 32px;
    font-size: $fontMedium;
    max-width: 60%;
    white-space: pre-wrap;
}

.location {
    grid-area: 'location';
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    >p {
        font-size: $fontMini;
        color: $greyLight;
    }
}