@import '@/presentation/styles/colors.scss';
@import '@/presentation/styles/fontSizes';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $greyDark;

    p {
        font-size: $fontGiant;
    }

    p+p {
        margin-top: 36px;
        font-size: $fontMediumLarge;
    }
}